body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(26, 26, 26);
    color: white;
}

.navbar {
    background-color: rgba(4, 106, 31, 0.836); 
}

.logo {
    width: 60px;
    height: 60px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(4, 106, 31, 0.836); 
    color: white;
}

#banner {
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 20px;
}

#banner-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(4, 106, 31, 0.836);
}

.upload-button {
    background-color: rgba(4, 106, 31, 0.836);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
label{
    color: black;
    font-family: 'Roboto', sans-serif;
}